:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4F4745;
    --white: #FFFFFF;
    --grey: #9F9F9F;
    --light-grey: #F8F8F8;
    --black-gray: #5D5D5D;
    --red: #F26376;
    --grey-light: #E1E1E1;
    --grey-midle: #6F6E6E;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--black);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
    position: relative;
}

.header__list {
    display: flex;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 34px;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__burger-icon {
    fill: var(--white);
}

.header__burger-icon:hover,
.header__burger-icon:focus {
    fill: var(--black-gray);
}

.header__burger-icon:active {
    fill: var(--dark-pink);
}


.header__nav {
    z-index: 2;
    position: absolute;
    width: 232px;
    top: 100%;
    right: 0;
    background: white;
    display: none;
}

.header__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__button:hover +.header__nav,
.header__button:focus +.header__nav {
    display: block;
}

.header__nav:hover {
    display: block;
}

.header__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);
    text-transform: uppercase;
    padding: 37px 0 24px 34px;
}

.nav-sub-item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-pink);
    text-transform: uppercase;  
    padding: 0 0 12px 33px;
    text-decoration: none;
}

.nav-sub-item__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-midle);
    padding: 0 0 11px 27px;
    text-decoration: none;
}

.nav-sub-item__item:hover {
    color: var(--red);
    cursor: pointer;
}

.brand {
    display: flex;
    margin: 0 0 62px 0;
    background-color: var(--light-pink);
}

.brand__centr {
    display: flex;
    margin-left: -224px;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    z-index: 1;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    display: block;
    position: relative;
    margin: 20px;
}

.brand__title:before {
    content: '';
    width: 12px;
    height: 92px;
    position: absolute;
    background-color: var(--dark-pink);
    left: -28px;
    top: 5px;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}


.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 32px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
    background-color: var(--sales-bkg-color);
    text-transform: uppercase;
}

.sales__item--woman {
    background-image: url(../img/women-sale.jpg);
}

.sales__item--man {
    background-image: url(../img/man-sale.jpg);
}

.sales__item--kids {
    background-image: url(../img/kids-sale.jpg);
}

.sales__item--shoes {
    width: 100%;
    min-height: 180px;
    background-image: url(../img/accesories.jpg);
    margin: 0 0 97px;
}

.sales__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
}

.sales__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink);
    
}

.catalog {
    padding-bottom: 95px;
}

.catalog__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.catalog__text {
    padding: 0 0 48px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey);
    text-align: center;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 32px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
    background-color: var(--light-grey);
}

/*Новый код*/

.catalog__wrapper {
    position: relative;
}

.catalog__overlay {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.catalog__button {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    width: 139px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: var(--white);
    padding: 15px 0;
    text-decoration: none;
    border: 2px solid var(--white);
    background: rgba(0, 0, 0, 0.4);
    
}


.catalog__button,
.catalog__overlay {
    display: none;
}

.catalog__item:hover .catalog__button,
.catalog__item:hover .catalog__overlay {
    display: block;
} 

.catalog__button:hover,
.catalog__button:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.catalog__button:active {
    opacity: 1;
}

/*конец нового кода*/

.catalog__item-title {
    padding: 24px 0 12px 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
    text-transform: uppercase;
}

.catalog__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--black-gray);
    padding: 0 0 0 18px;
}

.catalog__price {
    padding: 18px 0 20px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--dark-pink);
}

.catalog__button-all {
    width: 212px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: var(--white);
    padding: 15px 0;
    text-decoration: none;
    background-color: var(--dark-pink);
    border: 2px solid var(--red); 
}

.catalog__button-all:focus,
.catalog__button-all:hover {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.catalog__button-all:active {
    opacity: 1;
    outline: 3px solid var(--black);
}

.aside {
    background-color: var(--black);
}

.aside__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 341px;
}

.aside__item {
    justify-content: space-between;
}

.aside__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.aside__title {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: var(--white);
    text-align: center;
    padding: 19px 0 16px 0;
}

.aside__text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: var(--white);
}

.footer__main {
    width: 1600px;
    min-height: 448px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    background-image: url(../img/footer__pic.jpg);
    background-repeat: no-repeat;
}

.footer__main-hlp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.girl__face {
    width: 360px;
    height: 225px;
}

.footer__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer__text {
    padding: 30px 0 0 0;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.subscribe {
    width: 550px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
}

.subscribe__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
}

.subscribe__sub {
    padding-top: 32px;
    padding-left: 107px;
}

.subscribe__label {
    margin: 0 0 0 -10px;
}

.subscribe__email {
    margin: 0 0 0 0;
    width: 256px;
    height: 49px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background: var(--grey-light);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

.input:hover,
.input:focus {
    color: var(--red);
    cursor: pointer;
}

.input:active {
    color: var(--grey);
}

.subscribe__button {
    width: 100px;
    height: 49px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background: var(--dark-pink);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    margin-left: -3px;
}

.subscribe__button:focus,
.subscribe__button:hover {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.subscribe__button:active {
    opacity: 1;
}

.footer__arr-social {
    background-color: var(--black);
}

.footer__arr-social-wrp {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.footer__arr-social-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
}

.registration {
    height: 89px;
    background-color: var(--light-grey);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark-pink);
    text-transform: uppercase;
    padding-top: 59px;
}

.registration__form {
    padding: 64px 0 96px 0;
    display: flex;
}

.registration__legend {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    padding-bottom: 20px;
}

.reg__field {
    padding: 12px;
    width: 360px;
    margin-bottom: 20px;
}

.choice__sex {
    padding: 11px 0 33px 0;
}

.reg__text {
    width: 360px;
    padding: 21px 0 33px 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: var(--grey);
}

.join__button {
    width: 167px;
    padding: 15px;
    background-color: var(--dark-pink);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    position: relative;
    
}

.join__button::after {
    content: '';
    background-image: url(../img/strelka.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 70%;
    left: 130px;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

.join__button:hover,
.join__button:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.join__button:active {
    opacity: 1;
}

.reg__right {
    padding: 0 0px 0px 103px;
}


.loyalty__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
    text-transform: uppercase;
    padding: 0 0 22px 0;
}
.loyalty__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
    padding-bottom: 5px;
}

.loyalty__list {
    margin: 0;
    list-style: none;
}

.loyalty__list-item {
    position: relative;
    left: 25px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
    margin-top: 16px;
}

.loyalty__list-item::before {
    content: '';
    width: 15px;
    height: 15px;
    /*background: rgba(0, 0, 0, 0.2);*/
    position: absolute;
    top: 5px;
    left: -25px;
    background-image: url(../img/galka.png);
    background-size: 15px 15px;
}