$black: #222222;
$light-pink: #F1E4E6;
$shadow: #00000066;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$white: #FFFFFF;
$grey: #9F9F9F;
$light-grey: #F8F8F8;
$grey-red: #F8F3F4;
$black-gray: #5D5D5D;
$red: #F26376;
$grey-light: #E1E1E1;
$grey-midle: #6F6E6E;
$grey-light1: #F5F3F3;
$red-red: #EF5B70;
$shadow: #00000066;

$desktop-width: 1599px;
$tablet-mid-width: 1350px;
$tablet-width: 767px;
$mobile-tablet-mid-width: 573px;
$mobile-mid-width: 450px;
$mobile-width: 375px;
