$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #4F4745;
$white: #FFFFFF;
$grey: #9F9F9F;
$light-grey: #F8F8F8;
$black-gray: #5D5D5D;
$red: #F26376;
$grey-light: #E1E1E1;
$grey-midle: #6F6E6E;
$grey-light1: #F5F3F3;

$desktop-width: 1599px;
$tablet-width: 767px;
$mobile-width: 375px;
