.header {
    background-color: $black;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
    position: relative;
}

.header__flex {
    display: flex;
}

.header__form {
    display: flex;
    width: 28px;
    position: relative;
}

.header__form:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url(../img/loupe.svg);
    background-size: 28px 28px;
}

.header__search {
    display: flex;
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 30px;
    border-radius: 17px;
    padding: 15px 35px;
}

.header__search:hover,
.header__search:focus {
    background: white;
}

.header__list {
    display: flex;
    position: relative;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 34px;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__burger-icon {
    fill: $white;
}

.header__burger-icon:hover,
.header__burger-icon:focus {
    fill: $black-gray;
}

.header__burger-icon:active {
    fill: $dark-pink;
}

.header__nav {
    z-index: 2;
    position: absolute;
    width: 232px;
    top: 100%;
    right: 0;
    background: white;
    display: none;
}

.header__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__button:hover+.header__nav,
.header__button:focus+.header__nav {
    display: block;
}

.header__nav:hover {
    display: block;
}

.header__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    text-transform: uppercase;
    padding: 37px 0 24px 34px;
}

@media (max-width: $tablet-width) {
    .header__link {
        display: none;
    }
}