.shopping__cart-form {
    display: flex;
    justify-content: space-between;
}

.shopping__carts {
    margin: 96px 0 128px;
    width: 57.2%;
    max-width: 900px;
}

.shopping__cart-flex {
    display: flex;
    box-shadow: 17px 19px 24px $shadow;
    margin: 0 0 40px;
    position: relative;
}

.shopping__cart-item {
    margin: 0 0 6px 31px;
}

.shopping__cart-img {
    width: 40.2%;
    max-width: 262px;
}

.shopping__cart-title {
    @include font(24px, 28px);
    text-transform: uppercase;
    margin: 22px 26px 42px 0;
}

.shopping__cart-text {
    @include font(22px, 26px);
        color: $black-gray;
}

.shopping__cart-text--price::after {
    content: "$300";
    color: $dark-pink;
}

.shopping__cart-text--color::after {
    content: "Red";
}

.shopping__cart-text--size::after {
    content: "Xl";
}

.shopping__cart-text--quantity::after {
    content: "2";
    margin: 0 0 0 20px;
    padding: 0 15px;
    border: 1px solid $grey-light;
}

.shopping__cart-close {
    top: 10px;
    right: 7px;
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/close.svg);
    background-size: 100%;
}

.shopping__cart-wrp {
    display: flex;
    justify-content: space-between;
}

.shopping__cart-button {
    color: $grey;
    padding: 17px 40px;
    border: 1px solid $grey-light;
    background-color: transparent;
    @include font(14px, 17px, $font-weight:300);
    text-transform: uppercase;
    margin: 32px 0 0;
    outline: none;
}

.shopping__cart-button:hover,
.shopping__cart-button:focus {
    color: #FFFFFF;
    background-color: $dark-pink;
    box-shadow: 5px 5px 10px 2px $shadow;
    cursor: pointer;
    border: none;
}

@media (max-width: $tablet-mid-width) {
    .shopping__cart-form {
        flex-direction: column;
    }

    .shopping__carts {
        margin: 59px 0 64px;
        width: 100%;
    }
    .shopping__cart-wrp {
        justify-content: space-around;
    }
}

@media (max-width: $mobile-mid-width) {
    .shopping__cart-title {
        @include font(16px, 19px);
        margin: 14px 26px 25px 0;
    }

    .shopping__cart-item {
        margin: 0 0 4px 17px;
    }

    .shopping__cart-text {
        @include font(14px, 17px);
    }

    .shopping__cart-button {
        @include font(12px, 14px);
    }
}

@media (max-width: $mobile-tablet-mid-width) {
    .shopping__cart-button {
        @include font(12px, 14px);
    }
}

@media (max-width: $mobile-width) {
    .shopping__cart-button {
        padding: 9px 4px;
    }
}